name: build-and-test
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          cache: true
          cache-dependency-path: "go.sum"
          go-version-file: "go.mod"
        id: go
      - name: Build
        run: |
          make build
      - name: Lint
        run: |
          make lint
      - name: Run tests
        run: |
          make test
